doctype html
head
  title Blog - #{title}
  meta(charset='utf-8')
  link(rel='stylesheet', href='/css/main.css')
  script(async src="//codepen.io/assets/embed/ei.js")
body
  header
    h1 Blog
  main: article
    h1= title
      - const availableLocales = locales.filter(x => x !== locale && lang(x))
      if availableLocales.length > 0
        p Also available in#{' '}
          each otherLocale, index in availableLocales
            a(href=`/${lang(otherLocale).path}`)= otherLocale
    != contents